/* General Styling */


.signup-page {
  font-family: 'Arial', sans-serif;
  background: url('/cuetGate1.jpg');  
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.header {
  background: linear-gradient(90deg, #4caf50, #2ecc71); /* Green gradient */
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.header-title {
  font-size: 2.5rem;
  margin: 0;
}

.header-nav {
  margin-top: 15px;
}

.header-link {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.header-link:hover {
  color: #ffd700; /* Gold hover effect */
}


.signup-title {
  font-size: 2rem;
  color: #6a0dad;
  text-align: center;
  margin-bottom: 20px;
}

.signup-form {
  backdrop-filter: blur(10px); /* Apply a blur effect */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow to make the form pop */
}


.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: bold;
  color: #8640b9;
  margin-bottom: 5px;
}

.form-input {
  border: 2px solid #d8bfd8;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #6a0dad;
  outline: none;
  box-shadow: 0 0 8px rgba(106, 13, 173, 0.5);
}

.image-preview-container {
  display: flex;
  justify-content: center;
}

.image-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #6a0dad;
  transition: transform 0.3s ease-in-out;
}

.image-preview:hover {
  transform: scale(1.1);
}

.form-submit-button {
  background: linear-gradient(90deg, #6a0dad, #c71585);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s ease-in-out;
}

.form-submit-button:hover {
  background: linear-gradient(90deg, #c71585, #6a0dad);
  transform: translateY(-2px);
}

.form-submit-button:active {
  transform: translateY(0);
}

/* Processing Animation */
@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.processing {
  background: linear-gradient(270deg, #6a0dad, #c71585, #4b0082, #ff1493);
  background-size: 400% 400%;
  animation: loadingAnimation 2s infinite;
  color: #ffffff !important;
}
